.App {
  text-align: center;
}

li {
  list-style: none;
}

.quoteLiEl {
  text-align: start;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 90px 1fr;
}

.quoteDivEl {
  text-align: start;
  padding-left: 1.5rem;
  display: grid;
  grid-auto-flow: row;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.quoteDivEl strong {
  padding-left: 1rem;
  font-family: initial;
  font-size: 21px;
}

.quoteLiEl img {
  width: 100%;
  height: 90px;
  border-radius: 50%;
} 

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

a {
  text-decoration: none;
  color: inherit;
}

.homeLinkEl {
  color: green;
}


.headerLinkEl:hover {
  text-decoration: underline;
  color: lightgreen;
}

.randomQuoteDivEl {
  text-align: start;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 200px 1fr;
}

.randomQuoteImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.headerNavLiEl {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.modal {
  background-color: white;
  padding: 2rem 2rem;
  display: grid;
  place-items: center;
}

.quote-form {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  width: fit-content;
  border: solid 1px green;
  padding: 1.7rem;
  border-radius: 0.5rem;

}
