.App {
  text-align: center;
}

li {
  text-align: start;
  list-style: none;
  padding: 1.5rem;

  display: grid;
  grid-auto-flow: row;
}

li strong {
  padding-left: 1rem;
  font-family: initial;
}